*{
	margin: 0;
	padding: 0;
	font-family: Arial;
	box-sizing: border-box;

}

header{
	height: 160px;
	background-color: rgb(53, 16, 84);
}

#topo{
	height: 40px;
	padding: 10px;
	box-sizing: border-box;
}
#off{
	color: white;
	margin-left: 150px;
}

#cabecalho{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 120px;
	background-color: rgb(88, 46, 132) ;
}
#logo{
	width: 25%;

}
#buscar{
	width: 65%;
	
}
#buscar input{
	width: 400px;
	padding: 10px;
	border-radius: 1em;
	border: none;

}

#entrar{
	width: 10%;

}
.enter{
	color: white;
	font-weight: 700;
	text-decoration: none;

}

#logo img{
	width: 300px;
}


nav{
	background-color: white;
	height: 50px;
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	justify-items: center;


}

.menu{
	color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0.8em;
}

.menu:hover{
	background-color: #f2f2f2;

}
#principal{
	padding: 20px;
	height: 700px;
	display: flex;
	justify-content: space-evenly;
}

#prototype{
	  	display: flex;
	  	flex-direction: column;
        height: 400px;
        width: 250px;
	  	border: 1px solid #f2f2f2;
	  	padding: 20px;
	  	transition: 1s;



     }
     #prototype:hover{
     	background-color: #f2f2f2;
     	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
     }

	  #produto{
	  	display: flex;
	  	justify-content: center;
	  	background-color: #f2f2f2;
	  	padding: 10px;

	  }

	  #produto img{
        width: 200px;
        border-radius: 50%;
	  }
	  #desc{
	  	padding: 10px;

	  }
	  #news{
	  	background-color: rgb(240 ,0 ,155);
	  	text-decoration: none;
	  	color: white;
	  	padding: 5px 20px;
	  	font-size: 13px;
	  	font-weight: 700;


	  }

	  h3{
	  	padding-top: 10px;
	  	padding-bottom: 10px;
	  }

	  #preco{
	  	color: rgb(19, 171, 255);
	  	font-weight: 700;
	  
	  
	 }

	  #principal{
	  	padding: 20px;
	  	height: 900px;
	  	display: flex;
	    justify-content: space-evenly;
	    flex-wrap: wrap;

	  }

	  footer{
	  	background-color: #f2f2f2;
	  	height: 400px;
	  	display: flex;
	  	align-items: flex-end;
	  	justify-content: center;
	  	
	  }


	  footer p{
	  	padding-bottom: 50px;

	  }
